@model Jurassic.AppCenter.Models.PasswordResetModel
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewBag.Title = ResHelper.GetStr("ChangePassword");
    ViewBag.ShowSearchBox = false;
}
<style>
    .topinfo {
        background: #fff;
    }

    .changepassword .mini-textbox {
        width: 250px;
    }

    .changepassword > div {
        width: 1000px;
        margin: 0 auto;
    }

    .changepassword .titleline {
        text-align: center;
        border-bottom: 1px solid #f3f3f3;
    }

    .changepassword .prompt {
        color: #2b7cd8;
        font-size: 14px;
    }

    .changepassword .contentdivl {
        width: 35%;
    }

        .changepassword .contentdivl label,
        .changepassword .contentdivr label {
            color: #999;
        }
</style>
<div class="topinfo frame-fit changepassword">
    <div class="contentdiv">
        <div class="titlediv titleline">
            <p class="prompt">@(CommOp.ToBool(ViewBag.IsLogin) ? "欢迎第一次使用本系统，请您修改密码" : "修改您的登录密码")</p>
        </div>
        <div>
            <div class="contentdivl"><label> @Html.Str("UserName")：</label></div>
            <div class="contentdivr">
                <label>@User.Identity.Name</label>
            </div>
        </div>
        <div>
            <div class="contentdivl"><label>@Html.Str("当前+Password")：</label></div>
            <div class="contentdivr">
                <input id="IsLogin" name="IsLogin" type="hidden" value="@ViewBag.IsLogin" />
                <input id="OldPassword" name="OldPassword" errormode="icon" class="mini-password" required="true" vtype="minLength:5" requirederrortext="@Html.Str(" password_empty")" minlengtherrortext="密码不能少于5个字符" />
            </div>
        </div>
        <div>
            <div class="contentdivl"> <label>@Html.Str("New+Password")：</label></div>
            <div class="contentdivr">
                <input id="Password" name="Password" errormode="icon" class="mini-password" required="true" vtype="minLength:5" requirederrortext="@Html.Str(" password_empty")" minlengtherrortext="密码不能少于5个字符" />
            </div>
            <div class="contentdivr">
                <span id="Password_error" class="showTips"></span>
            </div>
        </div>
        <div>
            <div class="contentdivl"><label>@Html.Str("Confirm+Password")：</label></div>
            <div class="contentdivr">
                <input id="ConfirmPassword" name="ConfirmPassword" errormode="icon" class="mini-password" required="true" vtype="minLength:5" requirederrortext="@Html.Str(" confirmpassword_empty")" minlengtherrortext="密码不能少于5个字符" />
            </div>
        </div>
        <div>
            <div class="contentdivl"></div>
            <div class="contentdivr">
                <a class="mini-button frame-submit frame-default jrbtn-primary">
                    @Html.Str("Modify+Password")
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    mini.parse();
</script>