<div id="grid1" class="mini-datagrid frame-fit frame-search-grid"
     url="@Url.Action("GetAll")" pagesize="20" multiselect="true">
    <div property="columns">
        <div type="checkcolumn"></div>
        <div field="Id" headeralign="center" allowsort="true">ID</div>
        @*<div field="CatalogId" headeralign="center" allowsort="true">CatalogId</div>
            <div field="ObjectId" headeralign="center" allowsort="true">ObjectId</div>*@
        <div field="LogType" headeralign="center" allowsort="true">@Html.Str("级别")</div>
        <div field="UserName" headeralign="center" allowsort="true">
            @JStr.User
            @*<input id="nameFilter" property="filter" class="mini-textbox" style="width:100%;"
                onvaluechanged="onFilterChanged" />*@
        </div>
        <div field="ModuleName" headeralign="center" allowsort="true">@Html.Str("控制器")</div>
        <div field="ActionName" headeralign="center" allowsort="true">@Html.Str("方法")</div>
        <div field="OpTime" headeralign="center" dateformat="yyyy-MM-dd HH:mm:ss" allowsort="true">@Html.Str("时间")</div>
        <div field="Costs" headeralign="center" allowsort="true">@Html.Str("耗时") (ms)</div>
        <div field="Request" headeralign="center" allowsort="true">@Html.Str("请求")</div>
        <div field="Message" headeralign="center" allowsort="false">@Html.Str("信息")</div>
    </div>
</div>

<script type="text/javascript">

    mini.parse()
    var grid = mini.get("grid1");
    grid.load();

    //在此处声明所有操作完成后，统一发生的事件
    $('form').on('afterSubmit', function (e, r) {
        grid.reload();
    });

    //获取所选择的ID号列表
    function getSelectedIds() {
        var idArr = [];
        var rows = grid.getSelecteds();
        for (var i = 0; i < rows.length; i++) {
            idArr.push(rows[i].Id);
        }
        return idArr.join(',');
    }

    $.regButton({
        text: "@Html.Str("清空")",
        beforeSubmit: function (data) {
            return confirm("@ResHelper.GetStr("确定要清空所有日志?")");
        }
    });

    $.regButton({
        text: "@Html.Str("删除")",
        beforeSubmit: function (ajax) {
            var ids = getSelectedIds();
            if (ids.length == 0) {
                alert("@ResHelper.GetStr("请选择要删除的行")");
                return false;
            }
            if (!confirm("@ResHelper.GetStr("确定删除？")")) {
                return false;
            }
            ajax.data = { ids: ids }
        }
    });
</script>