@{
    ViewBag.Title = Html.Str("Users+Manager");
}
<div id="usersGrid" class="mini-datagrid frame-fit frame-search-grid" style="width:100%;"
     url="@Url.Action("GetAll")" pagesize="20" allowresize="true" multiselect="true"
     onrowdblclick="edit()">
    <div property="columns">
        <div type="checkcolumn" headeralign="center"></div>
        <div field="Id" headeralign="center" allowsort="true">ID</div>
        <div field="Name" headeralign="center" allowsort="true">@JStr.UserName</div>
        <div field="Email" headeralign="center" allowsort="true">@JStr.Email</div>
        <div field="PhoneNumber" headeralign="center" allowsort="true">@JStr.PhoneNumber</div>
        <div field="RoleNames" headeralign="center" allowsort="true">@ResHelper.GetStr("RoleNames")</div>
    </div>
</div>
<div id="win1" class="mini-window" title="Window" style="width:400px;height:250px;"
     showmaxbutton="false" showcollapsebutton="false" showshadow="true"
     showtoolbar="true" showfooter="true" showmodal="true" allowresize="false" allowdrag="true">
    <div property="toolbar" style="padding:5px;">
        <input type='button' value='Hide' onclick="hideWindow()" style='vertical-align:middle;' />
    </div>
    <div property="footer" style="text-align:right;padding:5px;padding-right:15px;">
        <input type='button' value='Hide' onclick="hideWindow()" style='vertical-align:middle;' />
    </div>
</div>
<script type="text/javascript">
    mini.parse();
    var usersGrid = mini.get('#usersGrid')
    usersGrid.load();


    function getSelectedIds() {
        var idArr = [];
        var rows = usersGrid.getSelecteds();
        for (var i = 0; i < rows.length; i++) {
            idArr.push(rows[i].Id);
        }
        return idArr.join(',');
    }

    function reloadData() {
        usersGrid.reload();
    }

    function edit(grid, row) {
        var row = row || usersGrid.getSelected();
        if (row) {
            mini.open({
                url: "@Url.Action("Edit")" + "?id=" + row.Id,
                title: "@ResHelper.GetStr("Edit+User")",
                width: 500,
                height: 400
            });

        } else {
            alert("@ResHelper.GetStr("Please select a user")");
        }
    }

    function addNew() {
        mini.open({
            url: "@Url.Action("Edit")",
            title: "@ResHelper.GetStr("New+User")",
            width: 500,
            height: 400
        });
    }

    //打开授权窗体 by_zjf
    function userToAction() {
        var row = usersGrid.getSelected();
        if (row) {
            mini.open({
                url: "@Url.Action("UserToAction")" + "?id=" + row.Id,
                title: "@JStr.User" + row.Name + "@JStr.Authorize",
                width: 400,
                height: 500
            });

        } else {
            alert("@ResHelper.GetStr("Please select a user")");
        }
    }

    //授权按钮事件 by_zjf
    $.regButton({
        text: "@Html.Str("授权")",
        noSubmit: userToAction
    });

    $.regButton({
        text: "@Html.Str("编辑")",
        noSubmit: edit
    });

    $.regButton({
        text: "@Html.Str("新增")",
        noSubmit: addNew
    });

    $.regButton({
        text: "@Html.Str("删除")",
        beforeSubmit: function (ajax) {
            var ids = getSelectedIds();
            if (ids.length == 0) {
                alert("@ResHelper.GetStr("请选择要删除的行")");
                return false;
            }
            if (!confirm("@ResHelper.GetStr("确定删除？")")) {
                return false;
            }
            ajax.data = { ids: ids }
        },
        afterSubmit: reloadData
    });

    //重置密码
    $.regButton({
        id: "021104Pass",
        beforeSubmit: function (ajax) {

            var idArr="";
            var rows = usersGrid.getSelecteds();
            for (var i = 0; i < rows.length; i++) {
                idArr = idArr + rows[i].Name + ",";
            }

            if (rows.length == 0) {
                alert("@ResHelper.GetStr("请选择要删除的行")");
                return false;
            }
            if (!confirm("@ResHelper.GetStr("确定重置选中用户的密码？")")) {
                return false;
            }
            ajax.data = { ids: idArr }
        },
        afterSubmit: reloadData
    });


</script>
