@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewBag.Title = ResHelper.GetStr("ResetYourPassword");
}

<div >
    <label>@Html.Str("UserName"):</label>
    <label>@Request["UserName"]</label>
</div>
<div>
    <label>@Html.Str("Password")</label>
    <input id="Password" name="Password" errormode="icon" class="mini-password"
           required="true" vtype="minLength:5" requirederrortext="@Html.Str("Password_Empty")" minlengtherrortext="密码不能少于5个字符" />
</div>
<div id="Password_error" class="showTips"></div>
<div >
    <label>@Html.Str("Confirm+Password")</label>
    <input id="ConfirmPassword" name="ConfirmPassword" errormode="icon"  class="mini-password"
           required="true" vtype="minLength:5" requirederrortext="@Html.Str("ConfirmPassword_Empty")" minlengtherrortext="密码不能少于5个字符" />
</div>
<div class="mini-button frame-submit frame-default">
    @Html.Str("Modify+Password")
</div>
<script type="text/javascript">
    mini.parse();
</script>