@model List<string>
@{
    ViewBag.Title = Html.Str("语言管理");
}
<div id="datagrid1" class="mini-datagrid frame-fit frame-search-grid" style="width:100%;"
     url="@Url.Action("GetAll")" idfield="Key"
     allowresize="true" virtualscroll="true"
     showpager="false" allowcellselect="true" multiselect="true"
     editnextonenterkey="true" editnextrowcell="true" allowcelledit="true">
    <div property="columns">
        <div type="indexcolumn" width="50"></div>
        <div type="checkcolumn" width="30"></div>
        <div name="Key" field="Key" headeralign="center" allowsort="true" width="100">
            Key
            <input property="editor" class="mini-textbox" style="width:100%;" minwidth="200" />
        </div>
        @foreach (var cultureName in Model)
        {
            <div name="@cultureName" field="@cultureName" headeralign="center" allowsort="true" width="200">
                @cultureName<br />
                @(new System.Globalization.CultureInfo(cultureName).NativeName)
                <input property="editor" class="mini-textbox" style="width:100%;" minwidth="200" />
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var grid = mini.get("datagrid1");
    grid.load();

    $.regButton({
        text: "@Html.Str("保存")",
        beforeSubmit: function (ajax) {
            grid.commitEdit();
            var data = grid.getData();
            var json = mini.encode(data);
            ajax.data = { data: json };
        }
    });

    $.regButton({
        text: "@Html.Str("删除条目")",
        noSubmit: function () {
            if (!confirm("@Html.Str("是否删除所选条目？")")) return;
            var rows = grid.getSelecteds();
            grid.removeRows(rows);
        }
    });

    $.regButton({
        text: "@Html.Str("新增条目")",
        noSubmit: function () {
            var newRow = { Key: "" };
            grid.addRow(newRow, 0);
            grid.beginEditCell(newRow, "Key");
        }
    });


    $.regButton({
        text: "@Html.Str("清空所有资源")",
        beforeSubmit: function () {
            return confirm("@Html.Str("确定清空所有资源？")");
        },
        afterSubmit: function () {
            grid.reload();
        }
    });

    $.regButton({
        text: "@Html.Str("删除语种")",
        beforeSubmit: function (ajax) {
            var cell = grid.getCurrentCell();
            if (cell == null || cell[1].field == "Key") {
                alert("@Html.Str("请先将光标定位在要删除的语种所在列。")");
                return false;
            }
            ajax.data = { culture: cell[1].field };
            return confirm("@Html.Str("是否删除")" + cell[1].field + "'?");
        },
        afterSubmit: function () {
            location = location;
        }
    });

    $.regButton({
        text: "@Html.Str("新增语种")",
        beforeSubmit: function (ajax) {
            var culture = prompt('@Html.Str("请输入语种简称(如zh-cn):")');
            if (!culture) return;
            ajax.data = { culture: culture };
        },
        afterSubmit: function () {
            location = location;
        }
    });
</script>
