@{
    ViewBag.SearchEmptyText = "请输入客户组名称!";
}

<div class="frame-fit" style="width: 100%;">
    <div id="dataGridMain" class="mini-datagrid frame-search-grid" style="width:100%;height:100%;" pagesize="50" multiselect="true" sizelist="[20,50,100]"
        url="@Url.Action("GetMainPageData")" selectonload="true">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div field="TokeyId" headeralign="center" align="center" allowsort="false" visible="false">主键</div>
            <div field="IsvalId" headeralign="center" align="center" allowsort="false" visible="false">状态</div>

            <div field="ClientName" headeralign="center" align="center" allowsort="false">客户组名称</div>
            <div field="ClientId" headeralign="center" align="center" allowsort="false" >客户组账号</div>
            <div field="TokeyCode" headeralign="center" align="center" width="200" allowsort="false">授权Key</div>
            
            <div field="ValidityDate" headeralign="center" align="center" width="80" allowsort="false" dateformat="yyyy-MM-dd">授权有效期</div>
            <div field="AccreditDate" headeralign="center" align="center" width="70" allowsort="false" dateformat="yyyy-MM-dd">授权日期</div>
            <div field="AccreditBy" headeralign="center" align="center" width="40" allowsort="false">授权人</div>
            <div type="checkboxcolumn" field="IsvalId" trueValue="1" falseValue="0" width="60" headerAlign="center">授权状态</div> 
            <div field="Memo" headeralign="center" width="160"  allowsort="false">备注</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    mini.parse();

    var dataGridMain = mini.get('#dataGridMain')
    dataGridMain.load();

    //Grid刷新事件
    function reloadMainData() {
        dataGridMain.reload();
    }

    //双击或点击编辑按钮事件
    function edit() {
        var row = dataGridMain.getSelected();
        if (row) {
            mini.open({
                url: "@Url.Action("FormInfo")" + "?id=" + row.ToKeyId,
                title: "编辑授权",
                width: 450,
                height: 400
            });

        } else {
            alert("@ResHelper.GetStr("请选择一条信息!")");
        }
    }

    //新增按钮事件
    function addNew() {
        mini.open({
            url: "@Url.Action("FormInfo")",
            title: "@ResHelper.GetStr("新增授权")",
            width: 450,
            height: 400
        });
    }

    //获取选择的集合
    function getSelectedIds() {
        var idArr = [];
        var rows = dataGridMain.getSelecteds();
        for (var i = 0; i < rows.length; i++) {
            idArr.push(rows[i].ToKeyId);
        }
        return idArr.join(',');
    }

    $.regButton({
        text: "删除授权",
        beforeSubmit: function (ajax) {
            var ids = getSelectedIds();
            if (ids.length == 0) {
                alert("@ResHelper.GetStr("请选择一行数据!")");
                return false;
            }
            if (!confirm("@ResHelper.GetStr("确定删除所选择的数据?")")) {
                return false;
            }
            ajax.data = { delList: ids }
        },
        afterSubmit: function () {
            reloadMainData();
        }
    });

    $.regButton({
        text: "新增授权",
        noSubmit: addNew
    });

    $.regButton({
        text: "编辑授权",
        noSubmit: edit
    });

    $.regButton({
        text: "数据授权",
        noSubmit: function () {
            var row = dataGridMain.getSelected();
            if (row) {
                mini.open({
                    url: "@Url.Action("DataRelation")" + "?id=" + row.ToKeyId,
                    title: row.ClientName + "_数据授权",
                    width: 400,
                    height: 500
                });
            } else {
                alert("@ResHelper.GetStr("请选择一条信息!")");
            }
        }
    });

    $.regButton({
        text: "服务授权",
        noSubmit: function () {
            var row = dataGridMain.getSelected();
            if (row) {
                mini.open({
                    url: "@Url.Action("ServiceRelation")" + "?id=" + row.ToKeyId,
                    title: row.ClientName + "_服务授权",
                    width: 400,
                    height: 500
                });
            } else {
                alert("@ResHelper.GetStr("请选择一条信息!")");
            }
        }
     });

    
</script>
